<header class="header">
    <section class="logo-container">
        <h3 class="logo">Apex Legends Status</h3>
    </section>

    <section class="search-bar-container">
        <input class="search-bar" id="search-bar" type="text" placeholder="Search">
        <div class="search-bar-icon-container">
            <img class="search-bar-icon" src="../../../assets/images/search_icon.png" alt="search_icon">
        </div>
    </section>

    <nav>
        <div class="burger-menu-container">
            <img class="burger-menu-icon" src="../../../assets/images/burger_menu.png" alt="burger_menu">
        </div>
    </nav>
    
</header>
