$color-primary:           $color-black-300;
$color-secondary:         $color-orange-500;
$color-bg:                $color-white-300;
$color-text-primary:      $color-gray-100;
$color-text-secondary:    $color-white-300;
$color-border-primary:    $color-gray-100;
$color-highlight-primary: $color-orange-600;